<% layout('layouts/boiler') %>

<section class="hero">
  <div class="hero-text">
    <h1>Explore the World with Wonderlust ✈️</h1>
    <p>Discover beautiful destinations and plan your perfect trip.</p>
    <a  href="#destinations" class="btn">Start Exploring</a>
  </div>
</section>

<section id="destinations" class="destinations">
  <h2>Popular Destinations 🌍</h2>
  <div class="card-container">

    <div class="card">
      <img src="/css/images/paris.jpg" alt="Paris">
      <div class="card-body">
        <h3>Paris, France</h3>
        <p>The city of love, lights, and Eiffel Tower.</p>
      </div>
    </div>

    <div class="card">
      <img src="/css/images/bali.jpeg" alt="Bali">
      <div class="card-body">
        <h3>Bali, Indonesia</h3>
        <p>Beaches, temples, and tropical vibes.</p>
      </div>
    </div>

    <div class="card">
      <img src="/css/images/new york.jpeg" alt="New York">
      <div class="card-body">
        <h3>New York, USA</h3>
        <p>The city that never sleeps, full of energy.</p>
      </div>
    </div>

    <div class="card">
      <img src="/css/images/Switzerland.jpeg"" alt="Switzerland">
      <div class="card-body">
        <h3>Switzerland</h3>
        <p>Breathtaking mountains and serene landscapes.</p>
      </div>
    </div>

  </div>
</section>
