<% layout('layouts/boiler') %>
<div class="about">
<h2 class="h2" >About Us</h2>
<p>At Wanderlust, we don’t just show you places — we help you live them. From hidden gems to world-famous wonders, our passion is turning your travel dreams into unforgettable journeys. Whether you’re chasing sunsets, savoring street food, or exploring cultures off the beaten path, we’re here to guide, inspire, and keep the adventure alive.</p>

</div>