<% layout('layouts/boiler') %>

<h2>Login</h2>
<form class="login-form">
  <input type="text" placeholder="Username">
  <input type="password" placeholder="Password">
  <button type="submit">Log in</button>
</form>
