body {
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size:2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-link a{
 text-decoration: none;
 color: #222222;
}
.f-info-link a:hover{
    text-decoration:underline;
}
.f-info-link,.f-info-social,.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-link{
    margin: 2rem;
}
.f-info-social i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
    text-align: center;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    height: 40vh;
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}

.btns{
    display: flex;
}

/* Add page */

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}